.biodata-details-container {
    display: grid;
    grid-template-columns: 3fr 4fr;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
}


@media (max-width: 1000px) {
    .biodata-details-container{
        grid-template-columns: 1fr;
    }
}