.hero_pages {
    width: 100%;
    background-image: url("../../assets/image11.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero_pages_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.63);
}